body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.loader {
  height: 600px;
  width: 600px;
  margin: auto;
  display: flex;
  transform-style: preserve-3d;
  perspective: 500px;
  transform: rotateX(60deg);
  border-radius: 500px;
}

.circle {
  --distance: 28px;
  border: 20px solid var(--color);
  border-radius: 500px;
  box-shadow: 0px 0px 4px var(--color), 0px 0px 8px var(--color) inset, 0px 0px 10px var(--color) inset;
  position: absolute;
  top: calc(var(--index) * var(--distance));
  bottom: calc(var(--index) * var(--distance));
  right: calc(var(--index) * var(--distance));
  left: calc(var(--index) * var(--distance));
  animation: animate var(--animationSpeed) ease-in-out infinite;
  animation-delay: calc(var(--index) * var(--animationSpeed) / var(--circlesCount));
}

@keyframes animate {
  0%,
  100% {
    transform: translateZ(0);
  }

  50% {
    transform: translateZ(calc(var(--index) * var(--distance) * -1));
  }
}
